{% extends "base_template.html" %}

{% block content %}
{% load static %}


<h1>Weather Sensor Home Page</h1>

<div class="container-fluid">
  <p>Resize the browser window to see the effect.</p>
  <p>The columns will automatically stack on top of each other when the screen is less than 768px wide.</p>
  <div class="row">
    {% for weather in weather_data %}
    <div class="col-sm-4 d-flex justify-content-center" style="background-color:lavender;">
      <div class="card" style="width: 18rem;">
        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" class="card-img-top" alt="Image">
        <!--<img src="{% static 'images/cloud-sun.svg' %}" class="card-img-top" alt="..." width="50" height="50" >-->
        <div class="card-body">
          <h5 class="card-title">{{weather.city}}</h5>
          <p class="card-text">{{weather.description}}</p>
          <a href="{% url 'weathersensor_delete_city'  weather.city  %}" class="btn btn-primary">Remove City</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<form method="POST">
  {% csrf_token %}
  <div class="field has-addons">
      <div class="control is-expanded">
          {{ form.name }}
      </div>
      <div class="control">
          <button class="button is-info">
              Add City
          </button>
      </div>
  </div>
</form>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% for weather in weather_data %}
<script>
  $.ajax({
    type: 'GET',
    url: '/weathersensor/getWeatherTemps/{{ weather.city }}',
    success: function(response) {
      
      function convertTimeToReadableFormat(timeString) {
        const date = new Date(timeString);
        return date.toLocaleString('en-US', {
          month: '2-digit',
          day: '2-digit',
          year: 'numeric',
          hour: '2-digit',
          minute: '2-digit',
          hour12: true
        });
      }

      // Function to select most evenly distributed elements
      function selectEvenlyDistributed(data, maxElements) {
          // Sort data by time
          data.sort((a, b) => new Date(a.time) - new Date(b.time));
          // Calculate the interval between elements
          const interval = Math.floor(data.length / maxElements);
          // Select elements at regular intervals
          const selectedData = [];
          for (let i = 0; i < data.length; i += interval) {
              selectedData.push(data[i]);
          }
          // Ensure we do not exceed the maxElements count
          if (selectedData.length > maxElements) {
              selectedData.length = maxElements;
          }
          return selectedData;
      }

      // Maximum number of elements to select
      const maxElements = 12;

      // Get the most evenly distributed data
      const evenlyDistributedData = selectEvenlyDistributed(response, maxElements);

      // Convert times to human-readable format
      const time = [];
      const temps = [];
      evenlyDistributedData.forEach(item => {
          time.push(convertTimeToReadableFormat(item.time));
          temps.push(item.temp);
      });
      console.log('Time:', time);
      console.log('Temps:', temps);
      // Call the initChart function with the retrieved data
      if (typeof initChart === 'function') {
        initChart(time, temps);
      } else {
        console.error('initChart function is not defined');
      }

    },
    error: function(error) {
      console.error(error) 
    }
  })
</script>

<h2>{{ weather.city }}</h2>
<canvas class="my-4 w-100" id="tempChart" width="900" height="380"></canvas> 
<hr>
{% endfor %}
 
  
{% endblock %}