{% extends "base_template.html" %}

{% block content %}
{% load static %}


<h1>Weather Sensor Home Page</h1>

<div class="container-fluid">
  <p>Resize the browser window to see the effect.</p>
  <p>The columns will automatically stack on top of each other when the screen is less than 768px wide.</p>
  <div class="row">
    {% for weather in weather_data %}
    <div class="col-sm-4 d-flex justify-content-center" style="background-color:lavender;">
      <div class="card" style="width: 18rem;">
        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" class="card-img-top" alt="Image">
        <!--<img src="{% static 'images/cloud-sun.svg' %}" class="card-img-top" alt="..." width="50" height="50" >-->
        <div class="card-body">
          <h5 class="card-title">{{weather.city}}</h5>
          <p class="card-text">{{weather.description}}</p>
          <a href="{% url 'weathersensor_delete_city'  weather.city  %}" class="btn btn-primary">Remove City</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<form method="POST">
  {% csrf_token %}
  <div class="field has-addons">
      <div class="control is-expanded">
          {{ form.name }}
      </div>
      <div class="control">
          <button class="button is-info">
              Add City
          </button>
      </div>
  </div>
</form>

<style>
  .table-wrapper {
    max-height: 200px;
    overflow: auto;
    display:inline-block;
    
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% for weather in weather_data %}
  <script>
    $(document).ready(function() {
      $.ajax({
        type: 'GET',
        url: '/weathersensor/getWeatherTemps/{{ weather.city }}',
        success: function(response) {

          function convertTimeToReadableFormat(timeString) {
            const date = new Date(timeString);
            return date.toLocaleString('en-US', {
              month: '2-digit',
              day: '2-digit',
              year: 'numeric',
              hour: '2-digit',
              minute: '2-digit',
              hour12: true
            });
          }
          // Function to select most evenly distributed elements
          function selectEvenlyDistributed(data, maxElements) {
            // Sort data by time
            data.sort((a, b) => new Date(a.time) - new Date(b.time));
            // Calculate the interval between elements
            const interval = Math.floor(data.length / maxElements);
            // Select elements at regular intervals
            const selectedData = [];
            for (let i = 0; i < data.length; i += interval) {
              selectedData.push(data[i]);
            }
            // Ensure we do not exceed the maxElements count
            if (selectedData.length > maxElements) {
              selectedData.length = maxElements;
            }
            return selectedData;
          }
          // Maximum number of elements to select
          const maxElements = 12;
          // Get the most evenly distributed data
          const evenlyDistributedData = selectEvenlyDistributed(response, maxElements);
          // Convert times to human-readable format
          const time = [];
          const temps = [];
          evenlyDistributedData.forEach(item => {
            time.push(convertTimeToReadableFormat(item.time));
            temps.push(item.temp);
          });

          // Generate a unique ID for the new chart
          const chartId = 'tempChart_{{ forloop.counter }}';
          // Call the initChart function with the retrieved data and unique ID
          if (typeof initChart === 'function') {
            initChart(time, temps, chartId);
          } else {
            console.error('initChart function is not defined');
          }

        },
        error: function(error) {
          console.error(error);
        }
      });
    });
  </script>

  <h2>{{ weather.city }}</h2>
  <h3> Temperature Chart</h3>
  <canvas class="my-4 w-100" id="tempChart_{{ forloop.counter }}" width="900" height="380"></canvas>
  <hr>
{% endfor %}

{% for weather in weather_data %}
<script>
  $(document).ready(function() {
    $.ajax({
      type: 'GET',
      url: '/weathersensor/getWeatherData/{{ weather.city }}',
      success: function(response) {

        function convertTimeToReadableFormat(timeString) {
          const date = new Date(timeString);
          return date.toLocaleString('en-US', {
            month: '2-digit',
            day: '2-digit',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            hour12: true
          });
        }

        const modifiedWeather = response.map(obj => {
          return {
            ...obj,
            time: convertTimeToReadableFormat(obj.time)
          };
        });

        // Find the table body in the current context
        //const tableBody = $('{{ weather.city }}-table-body');
        const tableBody = $('#{{ weather.city }}-table-body');
        console.log(modifiedWeather[0].time)
        // Iterate over modifiedWeather and append rows to the table body
        modifiedWeather.forEach(weatherData => {
          const tableRow = `
            <tr>
              <td>${weatherData.time}</td>
              <td>${weatherData.temp}</td>
              <td>${weatherData.feels_like}</td>
              <td>${weatherData.temp_min}</td>
              <td>${weatherData.temp_max}</td>
              <td>${weatherData.humidity}</td>
              <td>${weatherData.wind_speed}</td>
              <td>${weatherData.description}</td>
            </tr>
          `;
          tableBody.append(tableRow);
        });
      },
      error: function(error) {
          console.error(error);
      }
    });
  });
</script>

<h2>{{ weather.city }}</h2>
<h3>Temperature Table</h3>
<div class="table-responsive table-wrapper w-100">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Temperature</th>
        <th scope="col">Feels Like</th>
        <th scope="col">Temp Min</th>
        <th scope="col">Temp Max</th>
        <th scope="col">Humidity</th>
        <th scope="col">Wind Speed</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody id="{{ weather.city }}-table-body">
      <!-- Rows will be appended here by JavaScript -->
    </tbody>
  </table>
</div>
{% endfor %}       
  
{% endblock %}